In [1]:
### only run once! sets up working directory to be /quality_issue_predictor
import os
os.chdir(os.getcwd()[:-34] + r'\quality_issue_predictor')

In [2]:
import pandas as pd

import data_cleaner as dc

In [3]:
data_cleaner = dc.Data_Cleaner()
data_cleaner.open_pipe()

Succesfully loaded the following sheets:
archived SO, shape = (91114, 24)
Current SO, shape = (4337, 24)
Plantstar, shape = (142817, 23)

In [4]:
arch_so_df = data_cleaner.pull_arch_so()
curr_so_df = data_cleaner.pull_current_so()
plantstar_df = data_cleaner.pull_plantstar()

cleaning archived SO data
Checking lot format on archived SOs
archived shop order data shape = (73239, 12)
cleaning Current SO
Current SO clean shape = (4337, 14)
cleaning Plantstar
Plantstar clean shape = (142160, 10)

In [5]:
arch_so_df.head()

,Shop Order,Component,MRdate,MQISS,Product,BOM qty,MOPNO,Finished qty,MQREQ,Requested qty,Lot Number,Date
3,186151,RM129,20190422,57534.048,V8536,20.592,20,2794.0,57451.68,2790.0,18M09063,2019-04-22
4,186151,RM093,20190422,0.000,V8536,0.000,20,2794.0,0.00,2790.0,18M09063,2019-04-22
5,186151,RM160,20190422,0.000,V8536,0.000,20,2794.0,0.00,2790.0,18M09063,2019-04-22
9,182831,FS10017466,20190901,0.000,8881907102,0.000,0,120.0,0.00,120.0,18C16263X,2019-09-01
10,182831,EXP6021,20190901,0.000,8881907102,0.000,0,120.0,0.00,120.0,18C16263X,2019-09-01